body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans JP", sans-serif;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.copyright {
  font-size: x-small;
  color: #708090;
}
